.button {
   background: $button-bg-color;
   color: $button-text-color;
   font-size: 14px;
   padding: 6px 15px 4px;
   text-align: center;
   display: inline-block;
   cursor: pointer;
}

@import "mq";